header{
    visibility: hidden;
}

section{
    background-image: url("https://onedrive.live.com/embed?resid=889989985DE63ABD%215221&authkey=%21ACCiGl2dPst19go&width=1920&height=1080");
    background-size: cover;

}


.st-emotion-cache-1tvsewn.e1f1d6gn2{
    align-items: center;
}

